.account-app {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    
    .content-wrapper{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;

        .buttons-wrapper{
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .inputs-wrapper{
        height: 400px;
        font-size: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;

        .input-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 600px;

            input{
                margin-left: 20px;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 2px solid black;
                font-size: 30px;
                text-align: center;

                &:focus{
                    outline: none;
                }
            }

        }
        .text-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 600px;
            font-size: 20px;
            text-decoration: underline;
        }
    }

    .buttons-wrapper{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        button {
            width: auto;
            min-width: 80px;
            height: 40px;
            border: solid 2px rgb(255, 43, 209);
            border-radius: 5px;

            &:focus{
                outline: none;
            }

            &:active{
                background-color: rgb(172, 172, 172);
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.not-signed-in-app{
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;   
    height: 300px;
}