@media(max-width: 800px){
    //HOME
    .app {
        font-family: 'Rubik', sans-serif;
        height: 800px;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url("https://i.ibb.co/BN7nBYQ/imageedit-1-6501141933.jpg");
        background-size: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        
        .content-wrapper {
            margin-top: 100px;
            background-color: rgba(255, 255, 255, 0.877);
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 12px;
            padding-bottom: 10px;
    
            .tbk-wrapper{
                padding-top: 30px;
            }
    
            .home-text-wrapper {
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .first-image-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-top: 40px;
    
                    #first-image {
                        width: 50%;
                        border-radius: 12px;
                    }
                }
    
                
                .home-text {
                    margin-top: 30px;
                    width: 100%;
                    text-align: center;
                    font-size: 15px;
                }
    
            }
    
        
    
        }
    
    }

    //AVAILABILITY
    .availability-app {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 500px;
    
        .header-wrapper{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
    
            h1 {
                border-bottom: rgb(255, 43, 209) solid 2px;
                font-family: 'Dancing Script', cursive;
                font-size: 50px;
                color: rgb(255, 43, 209);
            }
        }
    
        .days-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 250px;
            width: 300px;
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            border-top: black 2px solid;
            border-bottom: black 2px solid;
            margin-top: 30px;
    
            .hours-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
    
                input {
                    border: none;
                    font-size: 20px;
                    text-align: center;
    
                    &:focus{
                        outline: none;
                        border-bottom: rgb(0, 0, 0) solid 2px;
                    }
                }
            }
        }
    
        .nav-contact-wrapper {
            padding-top: 20px;
            font-family: 'Rubik', sans-serif;
            color: rgb(255, 43, 209);
            text-decoration: underline;
            font-size: 12px;
    
            &:hover{
                cursor: pointer;
            }
        }
    }

    //CONTACT

    .contact-app {
        font-family: 'Rubik', sans-serif;
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .contact-header-wrapper{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
    
            h1 {
                border-bottom: rgb(255, 43, 209) solid 2px;
                font-family: 'Dancing Script', cursive;
                font-size: 50px;
                color: rgb(255, 43, 209);
            }
        }
    
        .contact-link-wrapper{
            border-top: black solid 2px;
            border-bottom: black solid 2px;
            margin-top: 30px;
            .mail-image {
                height: 30px;
                width: 30px;
            }
        
            .email-wrapper {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .email-link-wrapper {   
                    #email-link {
                        padding-left: 10px;
                        color: black;
                        text-decoration: none;
                        font-size: 15px;
                        font-family: 'Rubik', sans-serif;
                        text-decoration: underline;
                    }
                }
            }
        
            .phone-wrapper {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
        
                .phone-link-wrapper {   
                    #phone-link {
                        padding-left: 10px;
                        color: black;
                        text-decoration: none;
                        font-size: 15px;
                        font-family: 'Rubik', sans-serif;
                        text-decoration: underline;
                    }
                }
            }
    
        }
    }
}